<h2>Todo</h2>
<span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
    [ <a href="" ng-click="todoList.archive()">archive</a> ]
<ul class="unstyled">
    <li ng-repeat="todo in todoList.todos">
        <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
        </label>
    </li>
</ul>
<form name="myForm" novalidate accessible-form ng-submit="todoList.addTodo(myForm)">
    <div>
        <input id="todoText" type="text" name="todoText" ng-model="todoList.todoText" size="30" required
               placeholder="add new todo here" focus="true">
        <span style="color:red" ng-show="myForm.todoText.$error.required && !myForm.todoText.$pristine">
            * Todo task is required.
        </span>
    </div>
    <br />
    <input class="btn btn-primary" type="submit" value="add" ng-disabled="myForm.$invalid">
</form>
